[package]
name = "dumpiq_server"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
log = "0.4.28"
simple_logger = "5.1.0"
anyhow = "1.0.100"